In [1]:
import nltk
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [12]:


import pandas as pd

# Read the CSV file
amazon_df = pd.read_csv('amazon_product.csv')

# Display the first 5 rows of the DataFrame
print(amazon_df.head(5))

   id              Category          Title  \
0   1  HOME &amp; LIFESTYLE      GEO TOKYO
1   2  HOME &amp; LIFESTYLE      GEO TOKYO
2   3  HOME &amp; LIFESTYLE      WEST PORT
3   4  HOME &amp; LIFESTYLE  PACIFIC COAST
4   5  HOME &amp; LIFESTYLE       ENVOUGUE

                               Description
0             DOUBLE BED SHEET FOREST BLUE
1       DOUBLE BED SHEET FOREST GOLD/MULTI
2               DOUBLE BED SHEET TURQUIOSE
3  PACIFIC COAST DOUBLE BED SHEET TURQUISE
4      ENVOGUE DOUBLE BEDSHEET IVORY/MULTI

In [13]:
amazon_df.drop('id',axis=1,inplace=True)

In [ ]:
amazon_df.head()

,Sr.No,Category,Title,Description,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,HOME &amp; LIFESTYLE,GEO TOKYO,DOUBLE BED SHEET FOREST BLUE,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HOME &amp; LIFESTYLE,GEO TOKYO,DOUBLE BED SHEET FOREST GOLD/MULTI,NaN,NaN,NaN,NaN,NaN,NaN
2,3,HOME &amp; LIFESTYLE,WEST PORT,DOUBLE BED SHEET TURQUIOSE,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HOME &amp; LIFESTYLE,PACIFIC COAST,PACIFIC COAST DOUBLE BED SHEET TURQUISE,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HOME &amp; LIFESTYLE,ENVOUGUE,ENVOGUE DOUBLE BEDSHEET IVORY/MULTI,NaN,NaN,NaN,NaN,NaN,NaN

CONVERT TEXT TO LOWERCASE AND UPPER CASE

In [9]:
amazon_df.isnull().sum()

Title          0
Description    0
Category       0
dtype: int64

FUNCTION FOR TOKENIZATION AND STREAMING

In [14]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ANKITA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [15]:
import nltk
nltk.download('punkt')  # Ensure that 'punkt' is downloaded

tokens = nltk.word_tokenize('how are you brother? i am good.what about you?')
print(tokens)

['how', 'are', 'you', 'brother', '?', 'i', 'am', 'good.what', 'about', 'you', '?']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ANKITA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [18]:
import nltk
from nltk.stem.snowball import SnowballStemmer

# Ensure that 'punkt' is downloaded for tokenization
nltk.download('punkt')

# Initialize the stemmer
stemmer = SnowballStemmer('english')

def tokenize_stem(text):
    # Tokenize the text
    tokens = nltk.word_tokenize(text.lower())
    stemmed = [stemmer.stem(w) for w in tokens]
    return " ".join(stemmed)

    # Stem each token
    #stemmed_tokens = [stemmer.stem(token) for token in tokens]
    #return stemmed_tokens

# Example usage
#text = 'how are you brother'
#stemmed_tokens = tokenize_stem(text)
#print(stemmed_tokens)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ANKITA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [19]:
# Assuming you have a DataFrame 'amazon_df' with columns 'Title' and 'Description'

'''import pandas as pd'''

# Example DataFrame
'''data = {
    'Title': ['Product 1', 'Product 2'],
    'Description': ['This is the first product.', 'This is the second product.']
}
amazon_df = pd.DataFrame(data)'''

# Applying the tokenize_stem function to each row
amazon_df['stemmed_tokens'] = amazon_df.apply(lambda row: tokenize_stem(row['Title'] + " " + row['Description']), axis=1)

print(amazon_df)

                 Category          Title  \
0    HOME &amp; LIFESTYLE      GEO TOKYO
1    HOME &amp; LIFESTYLE      GEO TOKYO
2    HOME &amp; LIFESTYLE      WEST PORT
3    HOME &amp; LIFESTYLE  PACIFIC COAST
4    HOME &amp; LIFESTYLE       ENVOUGUE
..                    ...            ...
193             HAIR CARE    SCHWARZKOPF
194             HAIR CARE    SCHWARZKOPF
195             HAIR CARE    SCHWARZKOPF
196  HOME &amp; LIFESTYLE        ThredCo
197  HOME &amp; LIFESTYLE        ThredCo

                                 Description  \
0               DOUBLE BED SHEET FOREST BLUE
1         DOUBLE BED SHEET FOREST GOLD/MULTI
2                 DOUBLE BED SHEET TURQUIOSE
3    PACIFIC COAST DOUBLE BED SHEET TURQUISE
4        ENVOGUE DOUBLE BEDSHEET IVORY/MULTI
..                                       ...
193                     Anti Dendraf Shampoo
194           REPAIR RESCUE SHAMPOO ARGININE
195                       FRIZZ AWAY SHAMPOO
196                       Round Neck T Shirt
197                             Polo T Shirt

                                      stemmed_tokens
0              geo tokyo doubl bed sheet forest blue
1        geo tokyo doubl bed sheet forest gold/multi
2                 west port doubl bed sheet turquios
3    pacif coast pacif coast doubl bed sheet turquis
4          envougu envogu doubl bedsheet ivory/multi
..                                               ...
193                 schwarzkopf anti dendraf shampoo
194         schwarzkopf repair rescu shampoo arginin
195                   schwarzkopf frizz away shampoo
196                       thredco round neck t shirt
197                             thredco polo t shirt

[198 rows x 4 columns]

In [32]:
amazon_df.head(15)

,id,Category,Title,Description
0,1,HOME &amp; LIFESTYLE,GEO TOKYO,DOUBLE BED SHEET FOREST BLUE
1,2,HOME &amp; LIFESTYLE,GEO TOKYO,DOUBLE BED SHEET FOREST GOLD/MULTI
2,3,HOME &amp; LIFESTYLE,WEST PORT,DOUBLE BED SHEET TURQUIOSE
3,4,HOME &amp; LIFESTYLE,PACIFIC COAST,PACIFIC COAST DOUBLE BED SHEET TURQUISE
4,5,HOME &amp; LIFESTYLE,ENVOUGUE,ENVOGUE DOUBLE BEDSHEET IVORY/MULTI
5,6,HOME &amp; LIFESTYLE,ENVOUGUE,ENVOGUE DOUBLE BEDSHEET SAGE
6,7,HOME &amp; LIFESTYLE,GEO TOKYO,GEO TOKYO DOUBLE BED SHEET BLUE/SAGE
7,8,HOME &amp; LIFESTYLE,GEO TOKYO,GEO TOKYO DOUBLE BEDSHEET GREY/DK.GREY
8,9,HOME &amp; LIFESTYLE,COASTRAL STRIPE,COASTAL STRIPE DOUBLE BEDSHEET CORAL
9,10,HOME &amp; LIFESTYLE,COASTRAL STRIPE,COASTAL STRIPE DOUBLE BEDSHEET TAN
10,11,HOME &amp; LIFESTYLE,COASTRAL STRIPE,COASTAL STRIPE DOUBLE BEDSHEET SAND
11,12,HOME &amp; LIFESTYLE,COASTRAL STRIPE,COASTAL STRIPE DOUBLE BEDSHEET GREY
12,13,HOME &amp; LIFESTYLE,COASTRAL STRIPE,COASTRAL STRIPE DOUBLE BEDSHEET WHITE
13,14,HOME &amp; LIFESTYLE,ENVOUGUE,ENVOGUE DOUBLE BEDSHEET CORAL/MULTI
14,15,HOME &amp; LIFESTYLE,PACIFIC COAST,PACIFIC COAST DOUBLE BEDSHEET BLUE/MULTI

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
tfidfv = TfidfVectorizer(tokenizer=tokenize_stem)

def cosine_sim(txt1,txt2):
    matrix = tfidfv.fit_transform([txt1,txt2])
    return cosine_similarity(matrix)

In [36]:
import pandas as pd


def search_product(query, amazon_df):
    # Calculate stemmed query
    stemmed_query = tokenize_stem(query)
    
    # Calculate cosine similarity between query and stemmed tokens columns
    amazon_df['similarity'] = amazon_df['stemmed_tokens'].apply(lambda x: cosine_sim(stemmed_query, x))
    
    # Sort by 'similarity' in descending order and select top 10 results
    res = amazon_df.sort_values(by='similarity', ascending=False).head(10)[['Title', 'Description', 'Category']]
    
    return res

In [37]:
'''import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

# Ensure you have downloaded the necessary NLTK data files
nltk.download('punkt')

# Example preprocess function
def preprocess(text):
    tokens = word_tokenize(text)
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(token) for token in tokens]
    return ' '.join(stemmed_tokens)

# Load your data
amazon_df = pd.read_csv('amazon_product.csv')

# Ensure the 'Description' column exists and preprocess it
if 'Description' in amazon_df.columns:
    amazon_df['stemmed_tokens'] = amazon_df['Description'].apply(preprocess)
else:
    print("Error: 'Description' column not found in the DataFrame.")

# Now define your search_product function
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

def cosine_sim(query, document):
    vectorizer = CountVectorizer().fit_transform([query, document])
    vectors = vectorizer.toarray()
    return cosine_similarity(vectors)[0, 1]

def search_product(query, amazon_df):
    query = preprocess(query)  # Preprocess the query
    amazon_df['similarity'] = amazon_df['stemmed_tokens'].apply(lambda x: cosine_sim(query, x))
    res = amazon_df.sort_values(by='similarity', ascending=False).head(3)[['Title', 'Description', 'Category']]
    return res'''

# Example usage
result = search_product('COASTAL STRIPE DOUBLE BEDSHEET TAN', amazon_df)
print(result)

              Title                            Description  \
9   COASTRAL STRIPE     COASTAL STRIPE DOUBLE BEDSHEET TAN
8   COASTRAL STRIPE   COASTAL STRIPE DOUBLE BEDSHEET CORAL
10  COASTRAL STRIPE    COASTAL STRIPE DOUBLE BEDSHEET SAND
11  COASTRAL STRIPE    COASTAL STRIPE DOUBLE BEDSHEET GREY
12  COASTRAL STRIPE  COASTRAL STRIPE DOUBLE BEDSHEET WHITE
5          ENVOUGUE           ENVOGUE DOUBLE BEDSHEET SAGE
29         ENVOUGUE          ENVOGUE DOUBLE BEDSHEET BEIGH
28         ENVOUGUE           ENVOGUE DOUBLE BEDSHEET AQUA
22          HAMPTON         HAMPTON DOUBLE BEDSHEET BRONZE
26          HAMPTON       HAMPTON DOUBLE BEDSHEET RED/NAVY

                Category
9   HOME &amp; LIFESTYLE
8   HOME &amp; LIFESTYLE
10  HOME &amp; LIFESTYLE
11  HOME &amp; LIFESTYLE
12  HOME &amp; LIFESTYLE
5   HOME &amp; LIFESTYLE
29  HOME &amp; LIFESTYLE
28  HOME &amp; LIFESTYLE
22  HOME &amp; LIFESTYLE
26  HOME &amp; LIFESTYLE

In [31]:
amazon_df['Title'][4]

'ENVOUGUE'